@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E0E0E;
}

.banner {
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.full {
    @apply h-full w-full
}

.flex-center {
    @apply flex items-center justify-center 
}

.banner_btn {
    @apply px-8 py-2 rounded flex flex-row items-center
}

.banner_shadow {
    @apply w-full absolute
}

.auth-outer-div {
    @apply min-h-screen banner relative z-20 text-[#4f4e4e]
}

.auth-logo-div {
    @apply w-full h-[10%] px-12 py-6
}

.auth-shadow {
    @apply absolute full top-0 left-0 bg-black/70 -z-20
}

.login-input {
    @apply bg-darkGrey p-4 rounded-sm text-gray-200
}

.movie-list {
    overflow-x: scroll;
}

.nav-icons {
    @apply text-gray-100 h-6 w-6
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.background  {
    background-image: url(../assets/backgrounds/background.png);
}

::-webkit-scrollbar {
    display: none;
}