@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E0E0E;
}

.banner {
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.banner_btn {
    @apply px-8 py-2 rounded flex flex-row items-center
}

.banner_shadow {
    @apply w-full absolute 
}

.movieList {
    overflow-x: scroll;
}

.movieList::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
  }