@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.banner {
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.banner_btn {
    @apply px-8 py-2 rounded flex flex-row items-center
}

.banner_shadow {
    @apply w-full absolute 
}